AZURE_AI_PROJECT_ENDPOINT=https://agent-verse-resource.services.ai.azure.com/api/projects/agent-verse-project
AZURE_AI_MODEL_DEPLOYMENT_NAME=gpt-4o
CONTENT_UNDERSTANDING_COMPLETION_DEPLOYMENT=gpt-4.1-mini
CONTENT_UNDERSTANDING_EMBEDDING_DEPLOYMENT=text-embedding-3-large
AZURE_RESOURCE_GROUP=rg-agent-verse
AZURE_LOCATION=swedencentral
AZURE_FOUNDRY_RESOURCE_NAME=agent-verse-resource
AZURE_FOUNDRY_PROJECT_NAME=agent-verse-project
CONTENT_UNDERSTANDING_ENDPOINT=https://agent-verse-resource.cognitiveservices.azure.com/
APPLICATIONINSIGHTS_CONNECTION_STRING=InstrumentationKey=e4f12ca2-9f7b-4e31-be22-e5ab83a15438;IngestionEndpoint=https://swedencentral-0.in.applicationinsights.azure.com/;LiveEndpoint=https://swedencentral.livediagnostics.monitor.azure.com/;ApplicationId=66df1d55-08ec-47b4-80d8-2bab9aa78c26
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=true
AZURE_EXPERIMENTAL_ENABLE_GENAI_TRACING=true
AGENTVERSE_AGENT_MODE=foundry-tools
